.wrapper {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.label {
  color: var(--color-input-label);
  cursor: pointer;
  display: block;
  font: 12px/14px var(--font-bold);
}

.label:has(:focus:invalid) {
  color: var(--color-danger);
}

.label:has(:focus:valid) {
  color: var(--color-success);
}

.input,
.textarea {
  background-color: var(--color-white);
  border: 1px solid var(--color-input);
  border-radius: 5px;
  color: var(--color-primary-gray);
  cursor: pointer;
  font: 14px/21px var(--font-regular);
  height: 40px;
  padding: 5px 15px;
  text-align: left;
  width: 100%;
}

.input:disabled,
.textarea:disabled {
  background-color: var(--color-input-disabled);
  cursor: not-allowed;
  color: var(--color-input-label);
}

.textarea {
  height: 230px;
  padding-top: 10px;
  resize: none;
}
